{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>To do list - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="stylesheet" href="{% static './style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<main id="todolist">
  {% if user.is_authenticated %}
  <button style="
  float:right;
  padding:5px 5px;
	border:none;
	background:#FF6666;
	color:white;
	font-weight:bold;
	border:1px solid rgba(255,255,255,.3);
	cursor:pointer;"
  onclick="window.location.href='logout';"> Logout </button>{% endif %}
  <h1>
    {% if user.is_authenticated %} <span>Hello {{user.first_name}},</span> {% endif %} Todo List
    <span>Get things done, one item at a time.</span>
  </h1>
  {% if todos %}
  <template>
    {% for todo in todos reversed %}
      
      <li>
        <span class="label">
          {% if todo.status %}<s>{{todo.title | title}}</s>
          {% else %}{{todo.title | title}}{% endif %}
        </span>
        <div class="actions">
          <button class="btn-picto" type="button" onclick="window.location.href='status/{{todo.id}}';">
            <i aria-hidden="true" class="material-icons">
              {% if todo.status %} check_box
              {% else %} check_box_outline_blank {% endif %}
            </i>
          </button>
          <button class="btn-picto" type="button" >
            <i aria-hidden="true" class="material-icons" onclick="window.location.href='delete/{{todo.id}}';">delete</i>
          </button>
        </div>
      </li>
      {% endfor %}   
  </template>
  <button style="
  float:right;
  padding:10px 5px;
	border:none;
	background:#FF6666;
	color:white;
	font-weight:bold;
	border:1px solid rgba(255,255,255,.3);
	margin-top:10px;
	cursor:pointer;"
  onclick="window.location.href='clearall';"> Clear All </button>
  {% else %}
  <p class="emptylist">Your todo list is empty.</p>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <label for="title">Add to the todo list</label>
    <input type="text" name="title" placeholder="Type here..." required>
    <button type="submit" >Add item</button>
  </form>
</main>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script><script  src="{% static './script.js' %}"></script>
</body>
</html>
