{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>To do list - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="stylesheet" href="{% static './style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<main id="todolist">

  <h1>
    User Login
    <span>Get things done, one item at a time.</span>
  </h1>
  {% for message in messages %}
  <br>
    <h4 style="color:white;"> [ {{message}} ] </h4>
  {% endfor %}
  <form action="login" method="POST">
    {% csrf_token %}
    <label for="title">Username</label>
    <input type="text" name="username" placeholder="Username" required>
    <label for="password">Password</label>
    <input type="tepasswordxt" name="password" placeholder="Password" required>
    <button type="submit" >Login</button>
    <span>New User? <a href='register' style='color:white;'>Register here!</a></span>
    </form>
    
</main>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script><script  src="{% static './script.js' %}"></script>
</body>
</html>
