{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>To do list - Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="stylesheet" href="{% static './style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<main id="todolist">

  <h1>
    User Register
    <span>Get things done, one item at a time.</span>
  </h1>
  {% for message in messages %}
  <br>
    <h4 style="color:white;"> [ {{message}} ] </h4>
  {% endfor %}
  <form action="register" method="POST">
    {% csrf_token %}
    <label for="first_name">First Name</label>
    <input type="text" placeholder="Enter First Name" name="first_name" required>

    <label for="last_name">Last Name</label>
    <input type="text" placeholder="Enter Last Name" name="last_name" required>

    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password1">Password</label>
    <input type="password" placeholder="Enter Password" name="password1" required>

    <label for="password2">Confirm Password</label>
    <input type="password" placeholder="Re-enter Password" name="password2" required>

    <button type="submit" >Register</button>
    <span>Existing User? <a href='login' style='color:white;'>Login here!</a></span>
    </form>
    
</main>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script><script  src="{% static './script.js' %}"></script>
</body>
</html>
